body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 5px;
    padding-left: 2%;
  }
  
  h1 {
    text-align: center;
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    width: 28%;
    height: 350px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .item img {
    width: 100%;  
    height: 200px;
    padding-bottom: 0%;
  }
  
  .cart {
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 20px;
  }
  
  .cart h2 {
    text-align: center;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart li {
    margin-bottom: 10px;
    margin-right: 5%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }

 
/* Style for plus and minus buttons */
.plus-button {
  background-color: #2066a0;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  margin-left: 10%;
  border-radius: 5px;
}
.minus-button {
  background-color: #2066a0;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  margin-left: 5%;
}
/* Style for quantity */
.cart-quantity {
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  margin-left: 5%;
}
